.option button {
  height: 40px;
  width: 40px;
  font-size: 19px;
  border: none;
  cursor: pointer;
  background: transparent;
  color: #f9f9f9;
  border-radius: 3px;
  transition: all 0.3s ease;
}
.option button :where(i, span) {
  height: 100%;
  width: 100%;
  line-height: 40px;
}
.option button:hover :where(i, span) {
  color: #fff;
}
.option button:active :where(i, span) {
  transform: scale(0.9);
}
.option button span {
  font-size: 23px;
}
@media screen and (max-width: 540px) {
  .option button {
    height: 30px;
    width: 30px;
    font-size: 17px;
  }
  .options button :where(i, span) {
    line-height: 30px;
  }
}
